<div id="topHalf" class="pageSection half">
	<img src="images/floral.png" class="floralImg" style="left:0; transform:rotateY(180deg); ">
	<div class="contentWrapper">
		<h1 class="title">About Nikki and Enrique</h1>
		<p>
			<img src="images/Couply/Stairs_Laughing.jpg" width="250" style="float:left; margin-right:10px; " class="thickBorder"/>
			<span>Coming soon!</span>
		</p>
	</div>
	<img src="images/floral.png" class="floralImg" style="right:0;">
</div>