<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="css/master.css?cachebreak=20160620112621" />
<script src="jQuery/jquery.js"></script>

<script>
	function comingSoon(){
		alert("Coming Soon!");
	}
</script>