<script src="scripts/slideshowManager.js"></script>

<div class="pageSection centerContent" style="justify-content:space-between;">
	<div id="leftSide">
		<div class="squareImg">
			Nikki
		</div>
	</div>
	<div id="slideshow">
		<div id="img0" class="slideshowImage">
			<!--<img src="images/slideshow/1.jpg" width="100%" style="transform:rotate(-90deg)" />-->
		</div>
		<div id="img1" class="slideshowImage"></div>
	</div>
	<div id="rightSide">
		<div class="squareImg">Enrique</div>
	</div>
</div>
<div class="pageSection centerContent">
	<div style="text-align:center;">
		<span class="infoText">I know, we can't believe it either.</span>
		<p style="margin-top:10px;">
			<a href="/RSVP" class="bigAssButton silver">RSVP Now!</a>
		</p>
	</div>
</div>
<div class="pageSection centerContent">
	<div id="timeInfo" style="text-align:center;">
		<h3>Here's When:</h3>
		<span class="infoText">Saturday, January 14th, 2017</span>
		<span class="infoText">5:30 PM</span>
	</div>
</div>
<div class="pageSection centerContent" style="justify-content:space-between;">
	<div id="ceremonyInfo" style="text-align:center;">
		<h3>The Ceremony</h3>
		<span class="infoText">Vizcaya Victorian Hotel</span>
		<span class="infoText">5:30 PM - 6:00 PM</span>
	</div>
	<div id="receptionInfo" style="text-align:center;"> 
		<h3>The Reception</h3>
		<span class="infoText">Also Vizcaya</span>
		<span class="infoText">6:00 PM - 11:00 PM</span>
	</div>
</div>
<div class="pageSection centerContent">
	<div id="registryInfo" style="text-align:center;">
		<h3>Registries!</h3>
		<span class="infoText">We're getting married. Give us some stuff.</span>
	</div>	
</div>
<div id="registryList" class="pageSection centerContent" >
	<div class="squareImg">Registry 1</div>
	<div class="squareImg">Registry 2</div>
	<div class="squareImg">Registry 3</div>
	<div class="squareImg">Registry 4</div>
</div>
