<div id="topHalf" class="pageSection half">
	<img src="images/floral.png" class="floralImg" style="left:0; transform:rotateY(180deg); ">
	<div class="contentWrapper">
		<h1 class="title">Photo Gallery</h1>
		<div class="galleria">
			<a href="images/Couply/Back_To_Front.jpg"><img src="images/Couply/Back_To_Front_thumb.jpg" alt="Back to Front" /></a>
			<a href="images/Couply/Back_To_Front_2.jpg"><img src="images/Couply/Back_To_Front_2_thumb.jpg" alt="Back to Front, Again" /></a>
			<a href="images/Couply/Kissing_Path.jpg"><img src="images/Couply/Kissing_Path_thumb.jpg" alt="Kissing on Path" /></a>
			<a href="images/Couply/Kissing_Under_Tree.jpg"><img src="images/Couply/Kissing_Under_Tree_thumb.jpg" alt="Kissing Under Tree" /></a>
			<a href="images/Couply/Laughing_Kissing.jpg"><img src="images/Couply/Laughing_Kissing_thumb.jpg" alt="Laughing, slowly dying inside" /></a>
			<a href="images/Couply/Leaning_Kiss.jpg"><img src="images/Couply/Leaning_Kiss_thumb.jpg" alt="Leaning kiss" /></a>
			<a href="images/Couply/Ring_Kiss.jpg"><img src="images/Couply/Ring_Kiss_thumb.jpg" alt="Swing and a miss? No, Ring and a Kiss" /></a>
			<a href="images/Couply/Ring_Kissing.jpg"><img src="images/Couply/Ring_Kissing_thumb.jpg" alt="Enrique: My wallet is still crying." /></a>
			<a href="images/Couply/Stairs_Cheek_Kiss.jpg"><img src="images/Couply/Stairs_Cheek_Kiss_thumb.jpg" alt="Nikki: YAAAAS" /></a>
			<a href="images/Couply/Stairs_Laughing.jpg"><img src="images/Couply/Stairs_Laughing_thumb.jpg" alt="Laughing on the stairs" /></a>
			<a href="images/Couply/Stairs_Scary.jpg"><img src="images/Couply/Stairs_Scary_thumb.jpg" alt="Scary stairs pic. Think 'American Gothic'." /></a>
			<a href="images/Couply/Tree_Holding_Hands_Far.jpg"><img src="images/Couply/Tree_Holding_Hands_Far_thumb.jpg" alt="Tree, holding hands (if you squint, you can see us)." /></a>
			<a href="images/Couply/Tree_Holding_Hands_Murderer.jpg"><img src="images/Couply/Tree_Holding_Hands_Murderer_thumb.jpg" alt="Enrique looks like a straight up murderer."/></a>
			<a href="images/Couply/Tree_Reaching.jpg"><img src="images/Couply/Tree_Reaching_thumb.jpg" alt="Should photoshop some lightning or something." /></a>
			<a href="images/Couply/what.jpg"><img src="images/Couply/what_thumb.jpg" alt="Enrique's like 'wat'." /></a>
			<a href="images/couply/rando0.jpg"><img src="images/couply/rando0_thumb.jpg" alt="Hiking to Kirby Cove. And, you know, ghosts. 08/14/2016 " /></a>
			<a href="images/couply/rando1.jpg"><img src="images/couply/rando1_thumb.jpg" alt="Just before seeing the play Wicked. 05/31/2014" /></a>
			<a href="images/couply/rando2.jpg"><img src="images/couply/rando2_thumb.jpg" alt="Christmas Eve at the House of Sharp. 12/24/2014" /></a>
			<a href="images/couply/rando3.jpg"><img src="images/couply/rando3_thumb.jpg" alt="Some beach near Fort Bragg. 01/10/2015" /></a>
			<a href="images/couply/rando4.jpg"><img src="images/couply/rando4_thumb.jpg" alt="Nevada County Fair. 10/18/2015" /></a>
			<a href="images/couply/rando5.jpg"><img src="images/couply/rando5_thumb.jpg" alt="Outside BJs in Natomas. 11/20/2015" /></a>
			<a href="images/couply/rando6.jpg"><img src="images/couply/rando6_thumb.jpg" alt="Super mega excited to see the midnight premiere of Star Wars - Episode VII. 12/17/2015" /></a>
			<a href="images/couply/rando7.jpg"><img src="images/couply/rando7_thumb.jpg" alt="Christmas Eve at the new House of Sharp. 12/24/2015" /></a>
			<a href="images/couply/rando8.jpg"><img src="images/couply/rando8_thumb.jpg" alt="Just before the last dinner as merely a couple. 02/27/2016" /></a>
			<a href="images/couply/rando9.jpg"><img src="images/couply/rando9_thumb.jpg" alt="Fighting allergies at Capitol Brewfest. 03/06/2016" /></a>
			<a href="images/couply/rando10.jpg"><img src="images/couply/rando10_thumb.jpg" alt="Sailing with Rob and Nikki's family. 07/11/2016" /></a>
			<a href="images/couply/rando11.jpg"><img src="images/couply/rando11_thumb.jpg" alt="Eating Pho for the first time (ridiculously good). 07/16/2016" /></a>
			<a href="images/couply/rando12.jpg"><img src="images/couply/rando12_thumb.jpg" alt="OMG OMG OMG ABOUT TO SEE JIM GAFFIGAN LIVE. 08/05/2016" /></a>
			<a href="images/couply/rando13.jpg"><img src="images/couply/rando13_thumb.jpg" alt="Completely random park in San Francisco. 08/06/2016" /></a>
			<a href="images/slideshow/1.jpg"><img src="images/slideshow/1_thumb.jpg" alt="First night in Vegas." /></a>
			<a href="images/slideshow/2.jpg"><img src="images/slideshow/2_thumb.jpg" alt="On our way to Sea Ranch. " /></a>
			<a href="images/slideshow/3.jpg"><img src="images/slideshow/3_thumb.jpg" alt="Right after Enrique bought Nikki her first necklace (which she lost). " /></a>
			<a href="images/slideshow/4.jpg"><img src="images/slideshow/4_thumb.jpg" alt="Enrique's favorite picture of Nikki. The Steakhouse at Camelot in Excalibur." /></a>
			<a href="images/slideshow/5.jpg"><img src="images/slideshow/5_thumb.jpg" alt="On the road to Viridian City." /></a>
			<a href="images/slideshow/6.jpg"><img src="images/slideshow/6_thumb.jpg" alt="Fun with webcam filters. Ugh." /></a>
			<a href="images/slideshow/7.jpg"><img src="images/slideshow/7_thumb.jpg" alt="Heather's Wedding. 09/23/2011" /></a>
			<a href="images/slideshow/8.jpg"><img src="images/slideshow/8_thumb.jpg" alt="Enrique: Wait, this isn't our baby." /></a>
			<a href="images/slideshow/9.jpg"><img src="images/slideshow/9_thumb.jpg" alt="Enrique looks super mexican." /></a>
			<a href="images/slideshow/10.jpg"><img src="images/slideshow/10_thumb.jpg" alt="BJs in Natomas after Nikki's Graduation. " /></a>
			<a href="images/slideshow/11.jpg"><img src="images/slideshow/11_thumb.jpg" alt="California State Fair. " /></a>
		</div>
		<div id="controls" class="dsktp">
			<a href="#" class="bigAssButton navyblue" name="toggleFullscreenButton">Toggle Fullscreen</a>
		</div>
		<div class="mbl" style="text-align:center;">
			<p style="font-size:32px;">Double-tap gallery window to display gallery in full screen mode.</p>
		</div>
	</div>
	<img src="images/floral.png" class="floralImg" style="right:0;">
</div>

<script src="galleria/galleria-1.4.2.min.js"></script>
<script>
	Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
	Galleria.run('.galleria');
	
	$(document).on("click", "a[name='toggleFullscreenButton']", function(){
		$(".galleria").data("galleria").toggleFullscreen();
	});
</script>