<div id="topHalf" class="pageSection half">
	<img src="images/floral.png" class="floralImg left">
	<div class="contentWrapper">
		<h1 class="title">Venue Location</h1>
		<div id="directions">
			<div id="map" class="thickBorder">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.6663205434247!2d-121.48572818353692!3d38.56450107410054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ad0e6827ed9eb%3A0xc13f4271c33deb4c!2sVizcaya!5e0!3m2!1sen!2sus!4v1471638223489" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div id="directionSpecs" style="float:left; width:350px;">
				<div class="InfoItem">
					<div class="InfoValue">
						<h3 style="font-size:32px;">Vizcaya Victorian Hotel</h3>
					</div>
				</div>
				<div class="InfoItem">
					<div class="InfoValue">2019 21st Street</div>
				</div>
				<div class="InfoItem">
					<div class="InfoValue">Sacramento, CA 95818</div>
				</div>
			</div>
		</div>
	</div>
	<img src="images/floral.png" class="floralImg right">
</div>