/* CSS Document */
/** Master Reset **/
*				{ font-family:'Open Sans'; list-style-type:none; margin:0px; padding:0px; text-decoration:none; }

html, body 		{ height:100%; }
body			{ min-height:100%; background-color:#001637; }

h1				{ font-size:26px; }
h1.title		{ font-size:140px; font-weight:normal; font-family:"Lovers Quarrel"; text-align:center; color:midnightblue;
				  background:url(../images/bg2.png); opacity:.9; }
h2				{ font-size:21px; }
h3				{ font-size:48px; font-family:"Allura"; margin:0px; }

/*************************/
/**** BASIC STRUCTURE ****/
/*************************/
#wrapper			{ display:flex; flex-direction:column; /* height:100%; */ margin:0px auto; } 

#pageHeader			{ }  
#pageNav			{ margin:0px; background-color:#FFF;  }
#pageNav a			{ padding:15px; color:midnightblue; font-size:14px; }
#pageNav a:hover 	{ text-decoration:underline; }

#pageContent		{ display:flex; flex-direction:column;  }
.half				{ padding:50px 0px; }
#topHalf 			{ background:url("../images/bg2.png"); position:relative; z-index:1; flex:1; border-bottom:5px solid #DAA520; }
#topHalf .infoText 	{ color:midnightblue; font-size:28px; }
#topHalf h3 		{ color:midnightblue; background:url("../images/bg2.png"); opacity:.9; }

#bottomHalf { 
	background: #003366; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #003366 0%, #001637 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #003366 0%,#001637 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #003366 0%,#001637 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#001637',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#bottomHalf h3 			{ color:#EEE; }
#bottomHalf .infoText 	{ color:#EEE;}

#pageFooter 		{ background-color:#001637; color:white; flex:1; }
#pageFooter p		{ text-align:center; padding:10px; }

.contentWrapper     { width:1000px; margin:0px auto; overflow:hidden; }
.floralImg 			{ position:absolute; z-index:-999; top:0; }
.floralImg.left 	{ left:0; transform:rotateY(180deg); }
.floralImg.right 	{ right:0; }

/************************/
/**** SHARED CLASSES ****/
/************************/
.thickBorder 		{ border:10px solid #BBB; }
.infoText			{ display:block; font-size:26px; width:100%; color:#EEE;}
.pageSection		{ float:left; width:100%; }
.centerContent		{ display:flex; justify-content:space-around; margin:20px 0px; }

.InfoItem		{ float:left; width:100%; }
.InfoLabel		{ float:left; font-weight:bold; margin-right:4px; }
.InfoValue		{ float:left; }

.squareImg		{ border:10px solid #BBB; height:100px; position:relative; width:100px; }

.overlay		{ background-color:#000; height:100%; opacity:.5; position:absolute; width:100%; }
.overlayText	{ color:white; font-size:20px; font-weight:bold; height:100%; position:absolute; text-align:center; width:100%; }
.overlayText p	{ padding-top:20px; }

.clearfix:after 	{ clear: both; content: " "; display: block; height: 0; visibility: hidden; }

.bigAssButton					{ border-radius:15px; color:white; font-size:28px; padding:4px 20px; text-decoration:none; }
.bigAssButton.navyblue 			{ background-color:#003366; }
.bigAssButton.navyblue:hover	{ background-color:#001637; }
.bigAssButton.silver 			{ background-color:#C0C0C0; }
.bigAssButton.silver:hover		{ background-color:#A0A0A0; }

.bigAssButton:not(:last-child)  { margin-right:10px; }

.Button								{ color:white; font-size:13px; padding:2px 6px; }
.NButton							{ border:1px solid black; background-color:#B43030; }
.MButton							{ border:1px solid black; background-color:#5086B6; }
a.Inline							{ float:left; }
a.Inline:not(:last-child)			{ margin-right:4px; }
a.InlineHeader						{ float:left; min-width:120px; padding:3px 6px; text-align:center}
a.InlineHeader:not(:last-child)		{ margin-right:5px; }
a.List								{ }
a.ListBigItem						{ }
.ImgButton							{ padding:0px; }

/******************/
/**** HOME CSS ****/
/******************/
#slideshow		{ float:left; height:400px; width:550px; overflow:hidden; position:relative; }
.slideshowImage { overflow:hidden; height:100%; background-repeat:no-repeat; background-size: 600px; position:absolute; width:100%; background-position:center; }
	
#bridesParty	{ float:left; width:49%; }
#groomsParty	{ float:right; width:49%; }

#countdown 		{ text-align:center; width:100%; }
#countdownBox   { color:midnightblue; font-size:44px; }

/***************************/
/**** WEDDING PARTY CSS ****/
/***************************/
.weddingPartyMember				{ height:250px; width:100%; }

.weddingPartyMember.left 		{ float:left; }
.weddingPartyMember.left>.pic   { float:left; margin-right:5px; width:170px; }
.weddingPartyMember.left>.info  { float:left; text-align:left; width:calc(100% - 175px); }

.weddingPartyMember.right 		 { float:right; }
.weddingPartyMember.right>.pic   { float:right; margin-left:5px; width:170px; }
.weddingPartyMember.right>.info  { float:right; text-align:right; width:calc(100% - 175px); }

.weddingPartyName				{ font-size:24px; }

/*******************/
/**** VENUE CSS ****/
/*******************/
#directions #map	{ float:left; height:450px; margin-right:20px; }

/*********************/
/**** GALLERY CSS ****/
/*********************/
.galleria			{ width:100%; height:600px; background:#003366; margin:0px auto; }
.galleria-info-text { display:block !important; opacity:.75; }
.galleria-info-link { display:none; }

/******************/
/**** RSVP CSS ****/
/******************/
#rsvpStep1								{ margin-top:10px; text-align:center; }
#rsvpStep1 .formLabel 					{ margin-bottom:20px; }
#rsvpStep1 input[type="text"],
    #rsvpStep2 input[type="text"]		{ font-size:20px; height:40px; width:300px; text-align:center; }
#rsvpStep2 input[type="text"]			{ width:calc(75% - 2px); }

#rsvpStep2		{ border-top:1px solid gray; display:none; padding-top:25px; text-align:center; } 
#rsvpStep2 h3 	{ font-size:80px; font-weight:normal; }
#rsvpStep2 h4 	{ font-size:24px; color:midnightblue; margin-bottom:15px; font-weight:normal; }
#rsvpStep2 p	{ font-size:20px; }

#rsvpStep2 #familyMembers 						{ display:flex; flex-direction:column; align-items:center; }
#rsvpStep2 #familyMembers .familyMember 		{ font-size:18px; }
#rsvpStep2 #familyMembers .familyMember label 	{ font-weight:bold; -webkit-transition: color .2s; transition: color .2s; }

#rsvpStep2 #familyMembers .collection			{ text-align:left; }

#family				{  }

.family-section 	{ float:left; margin:10px 0px; width:100%; }
.selected			{ color:#E5AF30; }

textarea	{ font-size:20px; height:100px; padding:5px; resize:none; }

.formElement		{ margin-bottom:10px; }

.controls 			{ padding:15px; text-align:center; }

/********************/
/**** MOBILE CSS ****/
/********************/
.mbl			{ display:none !important; }

@media screen and (max-width:1000px){
	.dsktp		{ display:none; }
	.mbl		{ display:inherit !important; }
	
	#wrapper	{ position:relative; overflow:hidden; width:100%; margin:0px; }
	
	#pageNav a			{ padding:15px 5px; color:midnightblue; font-size:24px; }
	#pageNav a:hover 	{ text-decoration:underline; }
	
	#pageFooter 		{ font-size:28px; }
	
	.contentWrapper		{ width:calc(100% - 30px); padding:0px 15px; }
	#slideshow 			{ width:500px; }
	
	.weddingPartyName				{ font-size:36px; }
	.weddingPartyMember.left>.info  { font-size:24px; }
	.weddingPartyMember.right>.info { font-size:24px; }
	
	#map iframe	{ width:550px; }
}