<script id="rsvpStep2tmpl" type="x-tmpl-mustache">
	<h3>Thanks for RSVPing!</h3>
	
	<div>
		<p><span class="infoText">You may update your RSVP anytime before the wedding by re-entering your code.</span></p>
		
		<p><span class="infoText">You may also want to:</span></p>
		
		<div class="controls">
			<a href="./venue" class="bigAssButton navyblue">Know where it's at</a>
			<a href="./registries" class="bigAssButton navyblue">Buy us stuff</a>
			<a href="./gallery" class="bigAssButton navyblue">See some pics</a>
		</div>
	</div>
</script>